body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* indexpage css-s */
/* nav css */
.parent{
    height: 80px;
    background-color:#008080;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.parent img{
    height: 60px;
    width: 100px;
    margin-top: 10px;
}

.parent ul{
    color:#F5F5DC;
    list-style: none;
    display: flex;
    gap: 80px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-right: 50px;
}

.parent ul li a:hover{
    text-decoration: underline;
}

.parent ul li a{
    text-decoration: none;
    color:#F5F5DC;
    cursor: pointer;
}

.parent label i{
    color: #F5F5DC;
}

.parent button{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    height:35px;
    width: 150px;
    border: 1px solid #F5F5DC;
    background-color: transparent;
    color: white;
    margin-right:20px;
    cursor: pointer;
    transition: all 3s ease;
}

.parent button a{
    text-decoration: none;
    color: #F5F5DC;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.parent label{
    display: none;
}
#click:checked~.parent ul{
    display: block;
}
#click{
    display: none;
}

@media  screen and (max-width:700px){
    .parent label{
        display: block;
    }

    .parent ul{
        display: none;
        position: absolute;
        top: 54px;
        width: 100%;
        background-color: #008080e1;
    }
    .parent ul li{
        padding: 20px;
    
    }
}

/* menuimages */
   .menuimagedosa{
    /* height: 1150px; */
    background-color: #F5F5DC;
    text-align: center;
    padding-top: 10px;
   }


   .para1{
    font-size: 26px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #008080;
   }

   .para2{
    font-size: 35px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #008080;
    padding-top: -5px;
   }

   .menuimage1{
    height: 300px;
    width: 350px;
    background-color:#F5F5DC;
    margin-top: 20px;
    border: 0.5px solid rgb(0, 0, 0,0.2);
    border-radius: 10px;
   }

   .menuimage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
   }

   .menuimage1 img{
    height: 230px;
    width: 330px;
    padding-top: 10px;
   }

   .menuimage1 p{
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
    color: #2b2a29;
    font-weight: 600;
   }

   .menuimageidli{
    /* height: 800px; */
    text-align: center;
    background-color: #F5F5DC;
    padding-top: 10px;
   }

   .menuimagevada{
    /* height: 450px; */
    text-align: center;
    background-color: #F5F5DC;
    padding-top: 5px;
   }

   .menuimageuttapam{
    /* height: 800px; */
    text-align: center;
    background-color: #F5F5DC;
    padding-top: 5px;
   }

   .menuimagebiryani{
    /* height: 450px; */
    text-align: center;
    background-color: #F5F5DC;
    padding-top: 5px;
    padding-bottom: 30px;
   }


   /* footer css */
.footer{
    /* height: 350px; */
    background-color: #008080;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.footerlogo img{
    /* height: 200px; */
    width: 200px;
}

.footericon i{
    color: #F5F5DC;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 15px;
}

.footericon i:hover{
    transform: scale(1.4);
   padding-top: 3px;
}


.quicklinks ul li{
  text-decoration: none;
  list-style: none;
  color: #F5F5DC;
  padding-top: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.quicklinks p{
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    color: #F5F5DC;
    margin-top: 48px;
}

.quicklinks{
    padding-bottom: 60px;
}

.enquire p{
    font-size: 24px;
    color: #F5F5DC;
    font-family: "Raleway", sans-serif;
}

.quicklinks ul li a{
    text-decoration: none;
    color:#F5F5DC;
    font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;
}

.enquire button{
    width: 180px;
    height: 40px;
    background-color: transparent;
    color: #F5F5DC;
    border: 1px solid #F5F5DC;
    font-size: 15px;
    cursor: pointer;
    transition: all 3s ease;
}

.enquire button:hover{
    background-color: #F5F5DC;
    color: #1a1a1a;
    border: 1px solid #F5F5DC;
}

  .enquireform{
    height: 30px;
    width: 200px;
}

.enquire button{
    width:180px;
    background-color: transparent;
    border: 1px solid #F5F5DC;
    color: #F5F5DC;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    /* height: 40px; */
    margin-left: 10px;
    margin-top: 10px;
    width: 180px;
    transition: all 3s ease;
}

.enquire{
    margin-top: -15px;
}

.copyright{
    /* height: 80px; */
    background-color:#008080;
    border-top:1px solid rgb(0, 0, 0,0.5) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: #F5F5DC;
}
