body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* indexpage css-s */
/* nav css */
.parent{
    height: 80px;
    background-color:#008080;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
}

.parent img{
    height: 60px;
    width: 100px;
    margin-top: 10px;
}

.parent ul{
    color:#F5F5DC;
    list-style: none;
    display: flex;
    gap: 80px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-right: 50px;
}

.parent ul li a{
    text-decoration: none;
    color:#F5F5DC;
    cursor: pointer;
}

.parent button{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    height:35px;
    width: 150px;
    border: 1px solid #F5F5DC;
    background-color: transparent;
    color: white;
    margin-right:20px;
    cursor: pointer;
    transition: all 3s ease;
}

.parent button a{
    text-decoration: none;
    color: #F5F5DC;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

/* ourstory css */
.ourstory{
    height: 600px;
    background-color: #F5F5DC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ourstoryimg img{
    height: 480px;
    width: 400px;
    padding-left: 50px;
}

.ourstoryimg{
  width: 45%;
}

.ourstorytext{
    width: 45%;
  }

  .ourstorytext span{
    font-size: 20px;
    color: #008080;
    font-family: "Open Sans", sans-serif;
  }

  .ourstorytext h1{
    font-size: 40px;
    color: black;
    font-family: "Raleway", sans-serif;
  }

  .ourstorytext p{
   color: #343434;
   font-size: 14px;
   font-family: "Open Sans", sans-serif;
  }

  /* ourstory2 css */
  .ourstory2{
    background-color: #F5F5DC;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2px;
  }

  .ourstory2text{
    width: 45%;
  }

  .ourstory2img{
    width: 45%;
  }

  .ourstory2img img{
    height:450px ;
    width: 450px;
  }

.ourstory2text h1{
    font-size: 40px;
    font-family:"Raleway", sans-serif ;
    color: #000;
}

.ourstory2text p{
    font-size: 14px;
    font-family:"Open Sans", sans-serif ;
    color: #343434;
}

.ourstory2text button{
    height: 40px;
    width: 180px;
    background-color: #008080;
    border-radius: 50px;
    margin-top: 20px;
}

.ourstory2text button a{
    text-decoration: none;
    font-size: 16px;
    color: #F5F5DC;
}

/* footer css */
.footer{
    height: 350px;
    background-color: #008080;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerlogo img{
    height: 200px;
    width: 200px;
}

.footericon i{
    color: #F5F5DC;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 15px;
}



.quicklinks ul li{
  text-decoration: none;
  list-style: none;
  color: #F5F5DC;
  padding-top: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.quicklinks ul li a{
    text-decoration: none;
    color:#F5F5DC;
    font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;
}

.quicklinks p{
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    color: #F5F5DC;
    margin-top: 48px;
}

.quicklinks{
    padding-bottom: 60px;
}

.enquire p{
    font-size: 24px;
    color: #F5F5DC;
    font-family: "Raleway", sans-serif;
}

.enquire button{
    width: 180px;
    height: 40px;
    background-color: transparent;
    color: #F5F5DC;
    border: 1px solid #F5F5DC;
    font-size: 15px;
    cursor: pointer;
    transition: all 3s ease;
}

.enquire button:hover{
    background-color: #F5F5DC;
    color: #1a1a1a;
    border: 1px solid #F5F5DC;
}

  .enquireform{
    height: 30px;
    width: 200px;
}

.enquire button{
    width:180px;
    background-color: transparent;
    border: 1px solid #F5F5DC;
    color: #F5F5DC;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    width: 180px;
    transition: all 3s ease;
}

.enquire{
    margin-top: -15px;
}

.copyright{
    height: 80px;
    background-color:#008080;
    border-top:1px solid rgb(0, 0, 0,0.5) ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: #F5F5DC;
}